*{
	background-color: cream;
}
h1{
	font-family: Arial; 
	color:skyblue;
	font-size: 100;
	text-align: center;
}


.logo{
	text-decoration: wavy;


}
h4{
	font-size: 70;
	color: purple;
	text-align: center;
}

img{
	width: 200px;
	height: 100px;
	border-radius: 15px 15px 15px 15px;
	position: relative;
	align-self: center;
}

p{
	text-align: center;
}

