*{
	background-color: skyblue;
}
h1{
	font-family: Arial; 
	color: red;
	font-size: 70;
	text-align: center;
}
h4{
	font-size: 50;
	color: purple;
	text-align: center;
}

img{
	width: 200px;
	height: 100px;
	border-radius: 15px 50px 30px 5px;
}


