#header{
	background-color: #66CCFF;
	color: white;
	text-align: center;
}
body{
	background-color: #EEEEEE;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
#container{
	background-color: white;
}
#container{
	padding:10px 10px 10px 10px
}
#nav{
	width:180px
	float; left;
}
#main{
	width: 600px
}